:root {
  --white: #ffffff;
  --black: #000000;
  --green: #cbeaa6;
  --blue: #9fe1ff;
  --yellow: #fde58f;
  --pink: #f9a6a6;
  --purple: #d7aaff;
  --orange: #fca17d;
  --dark-blue: #0839ba;
  --light-blue: #3f9efd;

  --border-radius-10: 10px;
}
